@font-face {
    font-family: 'FiraCode';
    font-display: auto;
    src: url(./assets/fonts/FiraCode-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

.AppBox {
    font-family: 'dengxian';
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg0 {
    background-image: url(/src/assets/img/詹姆斯6.webp);
}

.bg1 {
    background-image: url(/src/assets/img/詹姆斯5.webp);
}

.bg2 {
    background-image: url(/src/assets/img/詹姆斯4.webp);
}